/*
includecssfile
@import url(../AsaiSkin/asai_yj.css);
*/
.o-i img,.o-j img,.l-cd img,.l-pa img,.c-f img,.u-a img,.l-qa img,.c-j img,.a-gh b,.a-gh i,.a-gh u,.a-gg,.a-gh,.a-g,.k-1,.k-2,.k-3,.k-4,.k-5,.d-0,.d-1,.d-2,.d-3,.d-4,.d-5.d-0 li,.d-1 li,.d-2 li,.d-3 li,.d-4 li,.d-5 li,h1,.h-a,.h-b,.h-d1,.h-de,.c-ct,.c-cc,.c-cl,.c-i,.d-vt,.d-vta,.d-vtt{-moz-border-radius:8px;-webkit-border-radius:8px;border-radius:8px;}
.l-x{-moz-border-radius:12px;-webkit-border-radius:12px;border-radius:12px;}
.a-ga{-moz-border-radius:0px 0px 0px 8px;-webkit-border-radius:0px 0px 0px 8px;border-radius:0px 0px 0px 8px;}
.u-a{-moz-border-radius:12px 0px 12px 12px;-webkit-border-radius:12px 0px 12px 12px;border-radius:12px 0px 12px 12px;}
.l-xt span{-moz-border-radius:12px 12px 0px 0px;-webkit-border-radius:12px 12px 0px 0px;border-radius:12px 12px 0px 0px;}
.y-vt{-moz-border-radius:0px 0px 9px 9px;-webkit-border-radius:0px 0px 9px 9px;border-radius:0px 0px 9px 9px;}
.y-san{-moz-border-radius:6px 6px 0px 0px;-webkit-border-radius:6px 6px 0px 0px;border-radius:6px 6px 0px 0px;}
.y-a a,.y-a input{-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;}
.f-a,.f-b,.f-c,.f-ax,.f-bx,.f-cx,.f-u,.f-ua,.f-d,.f-da,.f-s,.f-sa{-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.f-sb,a.f-sb,a.f-sb:link,a.f-sb:active,a.f-sb:visited,.f-sb:active,.f-sb.disabled,.f-sb[disabled],.f-skx,a.f-skx,a.f-skx:link,a.f-skx:active,a.f-skx:visited,.f-skx:active,.f-skx.disabled,.f-skx[disabled],.f-skx:hover,a.f-skx:hover,.f-skx:focus,.f-skxx,a.f-skxx,a.f-skxx:link,a.f-skxx:active,a.f-skxx:visited,.f-skxx:active,.f-skxx.disabled,.f-skxx[disabled],.f-skxx:hover,a.f-skxx:hover,.f-skxx:focus{-moz-border-radius:28%;-webkit-border-radius:28%;border-radius:28%;}
.y-sf{-moz-border-radius:0px 0px 0px 9px;-webkit-border-radius:0px 0px 0px 9px;border-radius:0px 0px 0px 9px;}
.d-vl,.d-vl1,.d-vas,#y-tpcx{-moz-border-radius:9px 0px 0px 9px;-webkit-border-radius:9px 0px 0px 9px;border-radius:9px 0px 0px 9px;}
.h-d{-moz-border-radius:0px 9px 9px 0px;-webkit-border-radius:0px 9px 9px 0px;border-radius:0px 9px 9px 0px;}
.p-ptgl:hover b,.p-ptgr:hover b{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.p-ptn i,.p-ptn i.p-ptnx{-moz-border-radius:50%;-webkit-border-radius:50%;border-radius:50%;}
.p-pt ul li div{-moz-border-radius:18px;-webkit-border-radius:18px;border-radius:18px;}
